/* Core styling */

* {
    margin: 0;
    padding: 0;
}

:root {
    --accent-primary: lime;
    --background-primary: #F2DAA7;
    --background-secondary: #998A6A;
    --color-black: #272727;
    --color-white: white;
    --content-font: 'ST03B';
    --title-font: 'venice';
    --other-dont: 'roboto';
}

@font-face {
    font-family: 'ST03B';
    src: url('./fonts/ST03R.TTF');
}

@font-face {
    font-family: 'venice';
    src: url('./fonts/VeniceClassic.ttf');
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--content-font);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
}

footer {
    /*border: solid 1px red;*/
    margin: 1rem auto;
    display: flex;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.8rem;
}

li {
    list-style: none;
}

.modal-background {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-close-btn {
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: var(--background-primary);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--background-secondary);
}

.modal-close-btn:hover {
    color: var(--color-white);
}

.collapsible-menu-header {
    display: flex;
}

/* Menu Bar Styling (Further button styling below) */

#menu {
    /*border: solid 1px red;*/
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 200px));
    margin: 0rem auto;
    background-color: var(--background-secondary);
}
/*---------------------*/ 
/* Main Game Container Styling */
/*---------------------*/ 
.site-navigation-top {
    /*border: solid 1px red;*/
    margin: 1rem auto;
}

#menu {
    border-top: solid 2px var(--background-secondary);
    border-bottom: solid 2px var(--background-secondary);
}

.game-main-container {
    /*border: solid 1px red;*/
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 200px));
    grid-template-rows: repeat(4, minmax(50px, 200px));
    margin: 0rem auto 1rem auto;
    background-color: var(--background-secondary);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin: 0.25rem;
    border-radius: 5px;
    background-color: var(--background-primary);
    font-family: var(--content-font);
}

.item-box figure {
    /*border: solid 1px blue;*/
    height: 50%;
}

.item-box img {
    /*border: solid 1px red;*/
    height: 100%;
    width: 100%;
}

#cast {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#log {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    color: white;
    background-color: var(--color-black);
    font-family: var(--content-font);
    overflow: scroll;
}

#environment {
    display: flex;
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    z-index: 0;
}

#environment img {
    height: 100%;
    width: 100%;
}

#exp {
    border: solid 4px var(--background-secondary);
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    align-self: end;
    z-index: 1;
    height: 15%; 
    text-align: center;
}

#rod {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

#reel {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

#hook {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

#special {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

/*---------------------*/ 
/* Stats container styling */
/*---------------------*/ 

.stats-main-container {
    /*border: solid 1px red;*/
    display: flex;
    margin: 1rem auto;
    background-color: var(--background-secondary);
}

.stats-box {
    /*border: solid 1px red;*/
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: var(--background-primary);
}

.stats-box td {
    /*border: solid 1px red;*/
    padding: 0.2rem 0.8rem 0 0;
}

/*---------------------*/ 
/* Button Styling */
/*---------------------*/ 
.menu-button {
    border: none;
    display: block;
    width: 100%;
    background-color: var(--background-primary);
    font-family: var(--content-font);
}

.menu-button:hover {
    background-color: var(--background-secondary);
}

.menu-button:active {
    transform: scale(0.75);
    background-color: var(--background-secondary);
}

#cast-button {
    font-family: var(--title-font);
    font-size: 3rem;
}

/*---------------------*/ 
/* Map Modal Styling */
/*---------------------*/

#map-content-container{
    display: flex;
    justify-content: center;
    margin: 5% 0;
    background-color: var(--background-primary);
}

#map-side-nav{
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
}

#map-grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10, 100px);
    grid-gap: 2px;
}

#map-figure {
    grid-row: 1 / 11;
    grid-column: 1 / 11;
    overflow: hidden;
}

.location-select-container{
    display: flex;
    flex-direction: column;
}

.location-options {
    display: flex;
    flex-direction: column;
}

/*---------------------*/ 
/* Quest Modal Styling */
/*---------------------*/ 

#quest-content-container{
    display: flex;
    justify-content: center;
    margin: 10% 0;
    background-color: var(--background-primary);
}

#quest-side-nav{
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
}

.quest-main-content-box {
    display: flex;
    flex-direction: column;
}

/*---------------------*/ 
/* Catch Modal Styling */
/*---------------------*/ 

#catch-content-container {
    /*border: solid 1px red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 15rem;
    width: 10rem;
    background-color: var(--background-primary);
    text-align: center;
}

#catch-content-container img {
    /*border: solid 1px red;*/
    width: 7rem;
}

#catch-close-btn {
    align-self: flex-end;
}

